ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
	float: left;
}

ul li {
	position: relative;
} 

li ul {
	position: absolute;
	left: 149px;
	top: 0;
	display: none;
}
 
ul li a {
	display: block;
	text-decoration: none;
	color: #3d3d29;
	background: #79BD9A; 
	padding: 5px;
	border: 1px solid #fff; 
}

li:hover ul { 
	display: block; 
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#pageheader {
	background-color: #2283c9;
	padding: 10px 15px;
}

form div select {
	width: 60px;
}

#pageheader h1 {
	color: #ffffff;
	font-size: 54px;
	text-align: center;
}

#pagefooter {
	text-align: center;
	font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%) translateY(-50%);
}

div.table {
	position: absolute;
	left: 50%;
	transform: translateX(-50%); 
}

td.top {
	padding-top: 10px;
}

td.border {
	border: solid 1px #d8d9da;
}

div.home-body {
	padding: 10px 0px;
	margin: 0px;
	text-align: center;
}
 
@media (min-width: 600px) {
	#pageheader {
		padding: 35px 15px;
	}
	
	div.home-body {
		float: left;
		width: calc(50% - 100px);
		padding: 10px 0px;
		margin: 0px;
		text-align: center;
		margin-left: 20px;
	}
}
